
.signup, .dashboard, .booking_form .dashboard, .login, .payment, .booking_form{
    border: 1px solid black;
    min-height: 70vh;
}
/* // reminder SIGN UP stylings */


form, .login, .signup{
    display: flex;
    flex-direction: column;
}

.login, .signup{
    display: flex;
    align-items: center;
    justify-content: center;
 border: 1px solid black;
}

.signup_inputs, .login_inputs{
    min-width: 50vh;
    min-height: 3vh;
}

