/* reminder": navBar stylings */
.navbar{
    border: 1px solid rgb(23, 23, 23);
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;


    .link{
        text-decoration: none;
        color: rgb(0, 82, 0);
    }
}

.footer{
    border: 1px solid rgb(42, 42, 42);
    min-height: 10vh;
}